.results-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 1.75rem;
    align-items: center;
}

.home{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    cursor: pointer;
}

.home-name{
    font-weight: 700;
    letter-spacing: 0.6px;
    font-size: 1rem;
}

.home-underline{
    width: 7.5rem;
    height: 0.625rem;
    margin-left: -0.875rem;
    margin-top: -0.188rem;
}

.results-search{
    display: flex;
    flex-direction: row;
    width: 60%;
    border: 0.15rem solid #111;
    height: 3rem;
    border-radius: 10px;
}
.results-search-input{
    flex: 1;
    width: 90%;
    border-radius: 10px;
    border: 0;
    padding: 0 1.125rem;
    outline: none;
    font-size: 1rem;
}

.results-search-btn{
    width: 10%;
    border-radius:0 5px 5px 0;
    background-color: #111;
    color: white;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
}

.other-actions{
    display: inline-flex;
    align-items: center;
    gap: 1.125rem;
}

.results-main{
    /* display: flex; */
    /* justify-content: center; */
    padding: 0 15rem 0 15rem;
}

.loading-animation{
    width: 60vw;
    height: 70vh;
}

.searchedUpper{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.recomended{
    border: 0.1rem solid #f5a623;
    border-radius: 1rem;
    /* padding: 0.5rem 1rem 1rem 1rem; */
}

.recUpper{
    font-size:small;
    font-weight: 600;
    background-color: #f5a623;
    border-radius: 0.9rem 0.9rem 0 0;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}